# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6 

print(number)

6

##### Assinging float

In [18]:
num_float = 4

print(num_float)
print(type(num_float))

4
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 3
num2 = 5

result = num1 + num2

print(result)
print(type(result))

8.2
<class 'float'>

In [14]:
# short hand version
result += 2 # result = result + 2
print(result)

18.2

##### Subtraction

In [19]:
difference = num2 - num1
print(difference)

#short-hand version
difference -= 10
print(difference)

2.2
-7.8

##### Multiplication

In [26]:
product = num1 * num2
print(product)

product *= 2
print(product)

15.600000000000001
31.200000000000003

##### Division

In [28]:
quotient = num2 / num1
print(quotient)

#shorthand
quotient /= 2
print(quotient)

1.7333333333333334
0.8666666666666667

##### Floor Division

In [32]:
result_floor = num2 // num1
print(result_floor)

#shorthand
result_floor //= 2
print(result_floor)

1.0
0.0

##### Exponential

In [35]:
square = 5 ** 2
print(square)

#short hand
square **= 2
print(square)

25
625

##### Modulo

In [38]:
# returns the remainder of the operation
result_mod= 29 % 5
print(result_mod)

#short hand version
result_mod %= 3 
print(result_mod)

4
1

### String Input-Output

##### String Assignment

In [39]:
name = "chris"
print(name)
print(type(name))

chris
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [41]:
print ("first name", end='goodday')
print("hello")
print("goodbye")

first namegooddayhello
goodbye

##### String Concatenation

In [43]:
first_name = 'brian'
last_name = 'stanton'

full_name = first_name + " " + last_name
print(full_name)
#shorthand
full_name += ", jr."
print(full_name)

brian stanton
brian stanton, jr.

##### Type Conversion

In [52]:
string_number = "47"
print(string_number)
print(type(string_number))
changed_number = float(string_number)
print(changed_number)
print(type(changed_number))
add_five = 5 + changed_number
print(add_five)

47
<class 'str'>
47.0
<class 'float'>
52.0

##### input()

In [56]:
age = input("what is your age?")
print(age)
print(type(age))

add_age=int(age) + 5
print(add_age)

print(age)
print(type(age))

KeyboardInterrupt: Interrupted by user

##### format()

In [57]:
name = 'brian'
age = 27

greeting = "helly my name is {} and I am {}" .format(name, age)

print(greeting)

helly my name is brian and I am 27

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# output: my car is a  2021 chevy camero

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

num1

##### 'is' keyword

In [67]:
# use the is keyword when checking for same/similar object, not same value

name1 = ['brian']
name2 = ['brian']

if name1 == name2:
    print("the values are the same")
    
if name1 is name2:
    print('the reference is the same')

the values are the same

##### 'in' keyword

In [68]:
char_name = 'max payne'
if 'm' in char_name:
    print("the character who lost everything...")

the character who lost everything...

##### 'not in' keyword'

In [71]:
char_name = 'max payne'
if 'z' not in char_name:
    print("the character who lost everything...")

the character who lost everything...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [75]:
char_name = input("what is the name of your street") 
if 'p' in char_name:
    print("chris is the most amazing person in the world")

what is the name of your streetperfect
chris is the most amazing person in the world

## Using 'and'/'or' with If Statements

### Elif Statements

In [80]:
get_in_price = 1

age_of_customer = int(input("what is your age?"))

if age_of_customer > 75:
    get_in_price *= .75
# elif will only be checked, if the condition directly above evaluated to false
elif age_of_customer > 50:
    get_in_price *= .90
    
print("thank yo, your total is:", get_in_price)

what is your age?50
thank yo, your total is: 1

### Else Statements

In [ ]:
# see above

### For Loops

In [87]:
name = 'brian stanton'

for letter in name:
    print(letter)

b
r
i
a
n

s
t
a
n
t
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Break Statement

In [ ]:
# will continue to next iteration

In [88]:
print("loop started")
for i in range(20):
    if i== 5:
        break
    print(i)
print("loop finished")

loop started
0
1
2
3
4
loop finished

##### Continue Statement

In [ ]:
# will break out of current loop

In [89]:
print("loop started")
for i in range(20):
    if i== 5:
        continue
    print(i)
print("loop finished")

loop started
0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
loop finished

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [90]:
print("loop started")
for i in range(20):
    if i== 5:
        pass # do later
    print(i)

loop started
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [98]:
num = 5 

for i in range(num):
    for j in range(num):
        print("i = ", i, "j =",j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [101]:
# syntax: while conditional statment

num=0

while num < 10:
    print(num)
    num += 1
print('loop finished')

0
1
2
3
4
5
6
7
8
9
loop finished

##### Looping 'While True'

In [ ]:

while True:
    ask = input("would you like to quit? y/n")
    if ask.lower() =='y':
        break
    print('continue loop')

##### While & For Loops Used Together

In [104]:
num = 0

while num < 5:
        print('while loop iteration: ' + str(num))
        
        for i in range(3):
            print('for loop iteration:' + str(i))
            
        print()    
        num += 1

while loop iteration: 0
for loop iteration:0
for loop iteration:1
for loop iteration:2

while loop iteration: 1
for loop iteration:0
for loop iteration:1
for loop iteration:2

while loop iteration: 2
for loop iteration:0
for loop iteration:1
for loop iteration:2

while loop iteration: 3
for loop iteration:0
for loop iteration:1
for loop iteration:2

while loop iteration: 4
for loop iteration:0
for loop iteration:1
for loop iteration:2

### Built-In Functions

##### range()

In [105]:
for i in range(10, 20, 3):
    print(i)

10
13
16
19

##### len()

In [107]:
name = 'timothy'

length=len(name)
print(length)
print(type(length))

7
<class 'int'>

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [7]:
for x in range(1,1000):
    if x > 1000:
        break
    print(x**)

SyntaxError: invalid syntax (<ipython-input-7-fb072cf64d98>, line 4)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [8]:
age = int(input("how old are you?"))

if age < 18:
    print(kids)
if age >= (18,65)
    print(adults)
    else: print(seniors)

SyntaxError: invalid syntax (<ipython-input-8-aba63e940430>, line 5)